<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="/login.css">
        <title>Login</title>
    </head>
    <body>
        <div class="container">
            <div class="titulo">
                <h1>Login</h1>
                <h2>Sistema medidor de consumo de àgua</h2>
            </div>
            <form class="form" method="POST" action="/user/val">
                <input type="text" name="codigo" id="codigo" placeholder="Código">
                <button class="button">Entrar</button>
            </form>
            <div class="cop">
                <h3>Wendel Luz S. Aragão</h2>
            </div>
        </div>
    </body>
    </html>
    